on: 
    push:
        tags:
            - "v*"
  
jobs:
    export_game:
        runs-on: ubuntu-latest
        permissions: write-all
        name: Export Godot Game
        steps:
        -   name: checkout
            uses: actions/checkout@v4.1.1

        -   name: export game
            id: export
            uses: firebelley/godot-export@v5.2.1
            with:
                godot_executable_download_url: https://downloads.tuxfamily.org/godotengine/4.1.2/Godot_v4.1.2-stable_linux.x86_64.zip
                godot_export_templates_download_url: https://downloads.tuxfamily.org/godotengine/4.1.2/Godot_v4.1.2-stable_export_templates.tpz
                relative_project_path: ./
                archive_output: true
                cache: true

        -   name: create release
            uses: ncipollo/release-action@v1.13.0
            with:
                token: ${{ secrets.GITHUB_TOKEN }}
                generateReleaseNotes: true
                tag: ${{ github.ref_name }}
                artifacts: ${{ steps.export.outputs.archive_directory }}/*